<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenghong.ndip.mapper.diet.DietMealTimesMapper">
  <resultMap id="BaseResultMap" type="com.tenghong.ndip.model.diet.DietMealTimes">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="meal_time_name" jdbcType="VARCHAR" property="mealTimeName" />
    <result column="meal_time_icon" jdbcType="VARCHAR" property="mealTimeIcon" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="cafeteria_id" jdbcType="INTEGER" property="cafeteriaId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="exp_hour" jdbcType="INTEGER" property="hour" />
    <result column="exp_min" jdbcType="INTEGER" property="minute" />
    <result column="exp_time" jdbcType="VARCHAR" property="expTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, meal_time_name, meal_time_icon, sort, cafeteria_id, create_time, create_by, update_time, 
    update_by, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from diet_meal_times
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from diet_meal_times
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tenghong.ndip.model.diet.DietMealTimes">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into diet_meal_times (meal_time_name, meal_time_icon, sort, 
      cafeteria_id, create_time, create_by, 
      update_time, update_by, status
      )
    values (#{mealTimeName,jdbcType=VARCHAR}, #{mealTimeIcon,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{cafeteriaId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tenghong.ndip.model.diet.DietMealTimes">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into diet_meal_times
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mealTimeName != null">
        meal_time_name,
      </if>
      <if test="mealTimeIcon != null">
        meal_time_icon,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="cafeteriaId != null">
        cafeteria_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mealTimeName != null">
        #{mealTimeName,jdbcType=VARCHAR},
      </if>
      <if test="mealTimeIcon != null">
        #{mealTimeIcon,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="cafeteriaId != null">
        #{cafeteriaId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tenghong.ndip.model.diet.DietMealTimes">
    update diet_meal_times
    <set>
      <if test="mealTimeName != null">
        meal_time_name = #{mealTimeName,jdbcType=VARCHAR},
      </if>
      <if test="mealTimeIcon != null">
        meal_time_icon = #{mealTimeIcon,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="cafeteriaId != null">
        cafeteria_id = #{cafeteriaId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tenghong.ndip.model.diet.DietMealTimes">
    update diet_meal_times
    set meal_time_name = #{mealTimeName,jdbcType=VARCHAR},
      meal_time_icon = #{mealTimeIcon,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      cafeteria_id = #{cafeteriaId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findPageCondition"  resultMap="BaseResultMap" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    diet_meal_times
    <where>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        cafeteria_id = #{condition.cafeteriaId}
      </if>
      and status = 1
    </where>
    ORDER BY ${sort} ${order}
    LIMIT #{from}, #{size}
  </select>

  <select id="findPageCount" resultType="int" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT COUNT(1)
    FROM
    diet_meal_times
    <where>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        cafeteria_id = #{condition.cafeteriaId}
      </if>
      and status = 1
    </where>
  </select>

  <select id="findDataByIdList"  resultMap="BaseResultMap">
    SELECT
    times.*,schedual.exp_hour,schedual.exp_min,schedual.exp_time
    FROM
    diet_meal_times times
    LEFT JOIN
    sys_oven_schedual schedual
    ON
    times.id = schedual.`key`
    <where>
      <foreach collection="list" open=" and cafeteria_id in (" close=")"
               item="id" separator=",">
        #{id}
      </foreach>
      and status = 1
    </where>
  </select>

  <select id="findDataByCafeteriaId"  resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    diet_meal_times
    <where>
      cafeteria_id = #{cafeteriaId}
      and status = 1
    </where>
  </select>

  <select id="findDataByReq"  resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    diet_meal_times
    <where>
      cafeteria_id = #{cafeteriaId}
      <if test="mealId != null and mealId != ''">
      and id = #{mealId}
      </if>
      and status = 1
    </where>
  </select>

  <select id="findDataByCafeteriaIdAndDate"  resultMap="BaseResultMap">
    SELECT
    DISTINCT times.*
    FROM
    diet_meal_times times
    LEFT JOIN
    his_oms oms
    ON
    times.id = oms.meal_id
    <where>
      times.cafeteria_id = #{cafeteriaId}
      <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') = #{date}]]>
      and times.status = 1
    </where>
  </select>
</mapper>