<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenghong.ndip.mapper.diet.DietRelationMapper">
  <resultMap id="BaseResultMap" type="com.tenghong.ndip.model.diet.DietRelation">
    <id column="relation_id" jdbcType="INTEGER" property="relationId" />
    <result column="re_goal_id" jdbcType="INTEGER" property="reGoalId" />
    <result column="re_goal_type" jdbcType="INTEGER" property="reGoalType" />
    <result column="re_goal_num" jdbcType="INTEGER" property="reGoalNum" />
    <result column="re_goal_name" jdbcType="VARCHAR" property="reGoalName" />
    <result column="re_goal_tips_one" jdbcType="VARCHAR" property="reGoalTipsOne" />
    <result column="re_goal_tips_two" jdbcType="VARCHAR" property="reGoalTipsTwo" />
    <result column="re_parent_id" jdbcType="INTEGER" property="reParentId" />
    <result column="re_parent_type" jdbcType="INTEGER" property="reParentType" />
    <association property="element" javaType="com.tenghong.ndip.model.diet.DietElement">
      <id column="element_id" jdbcType="INTEGER" property="elementId" />
      <result column="goal_type" jdbcType="INTEGER" property="goalType" />
      <result column="goal_id" jdbcType="INTEGER" property="goalId" />
      <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
      <result column="ENERGY" jdbcType="VARCHAR" property="energy" />
      <result column="PROTEIN" jdbcType="VARCHAR" property="protein" />
      <result column="FAT" jdbcType="VARCHAR" property="fat" />
      <result column="CARBOHYDRATE" jdbcType="VARCHAR" property="carbohydrate" />
      <result column="DF" jdbcType="VARCHAR" property="df" />
      <result column="Ca" jdbcType="VARCHAR" property="ca" />
      <result column="Fe" jdbcType="VARCHAR" property="fe" />
      <result column="Zn" jdbcType="VARCHAR" property="zn" />
      <result column="Se" jdbcType="VARCHAR" property="se" />
      <result column="Cu" jdbcType="VARCHAR" property="cu" />
      <result column="Mn" jdbcType="VARCHAR" property="mn" />
      <result column="Mg" jdbcType="VARCHAR" property="mg" />
      <result column="Na" jdbcType="VARCHAR" property="na" />
      <result column="K" jdbcType="VARCHAR" property="k" />
      <result column="P" jdbcType="VARCHAR" property="p" />
      <result column="VITA" jdbcType="VARCHAR" property="vita" />
      <result column="VITE" jdbcType="VARCHAR" property="vite" />
      <result column="VITB1" jdbcType="VARCHAR" property="vitb1" />
      <result column="VITB2" jdbcType="VARCHAR" property="vitb2" />
      <result column="VITC" jdbcType="VARCHAR" property="vitc" />
      <result column="VITPP" jdbcType="VARCHAR" property="vitpp" />
      <result column="ASP" jdbcType="VARCHAR" property="asp" />
      <result column="WATER" jdbcType="VARCHAR" property="water" />
      <result column="VPP" jdbcType="VARCHAR" property="vpp" />
      <result column="I" jdbcType="VARCHAR" property="i" />
      <result column="PURINE" jdbcType="VARCHAR" property="purine" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    relation_id, re_goal_id, re_goal_type, re_goal_num, re_goal_name, re_goal_tips_one, 
    re_goal_tips_two, re_parent_id, re_parent_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from diet_relation
    where relation_id = #{relationId,jdbcType=INTEGER}
  </select>

  <select id="selectByParentKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    relation.*,element.*
    from diet_relation relation
    left join
    diet_element element
    ON
    element.goal_id = relation.re_goal_id
    where re_parent_id = #{parentId}
    AND
    re_parent_type = #{parentType}
    AND
    element.goal_type = relation.re_goal_type
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from diet_relation
    where relation_id = #{relationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tenghong.ndip.model.diet.DietRelation">
    <selectKey keyProperty="relationId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into diet_relation (re_goal_id, re_goal_type, re_goal_num, 
      re_goal_name, re_goal_tips_one, re_goal_tips_two, 
      re_parent_id, re_parent_type)
    values (#{reGoalId,jdbcType=INTEGER}, #{reGoalType,jdbcType=INTEGER}, #{reGoalNum,jdbcType=INTEGER}, 
      #{reGoalName,jdbcType=VARCHAR}, #{reGoalTipsOne,jdbcType=VARCHAR}, #{reGoalTipsTwo,jdbcType=VARCHAR}, 
      #{reParentId,jdbcType=INTEGER}, #{reParentType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tenghong.ndip.model.diet.DietRelation">
    <selectKey keyProperty="relationId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into diet_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reGoalId != null">
        re_goal_id,
      </if>
      <if test="reGoalType != null">
        re_goal_type,
      </if>
      <if test="reGoalNum != null">
        re_goal_num,
      </if>
      <if test="reGoalName != null">
        re_goal_name,
      </if>
      <if test="reGoalTipsOne != null">
        re_goal_tips_one,
      </if>
      <if test="reGoalTipsTwo != null">
        re_goal_tips_two,
      </if>
      <if test="reParentId != null">
        re_parent_id,
      </if>
      <if test="reParentType != null">
        re_parent_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reGoalId != null">
        #{reGoalId,jdbcType=INTEGER},
      </if>
      <if test="reGoalType != null">
        #{reGoalType,jdbcType=INTEGER},
      </if>
      <if test="reGoalNum != null">
        #{reGoalNum,jdbcType=INTEGER},
      </if>
      <if test="reGoalName != null">
        #{reGoalName,jdbcType=VARCHAR},
      </if>
      <if test="reGoalTipsOne != null">
        #{reGoalTipsOne,jdbcType=VARCHAR},
      </if>
      <if test="reGoalTipsTwo != null">
        #{reGoalTipsTwo,jdbcType=VARCHAR},
      </if>
      <if test="reParentId != null">
        #{reParentId,jdbcType=INTEGER},
      </if>
      <if test="reParentType != null">
        #{reParentType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tenghong.ndip.model.diet.DietRelation">
    update diet_relation
    <set>
      <if test="reGoalId != null">
        re_goal_id = #{reGoalId,jdbcType=INTEGER},
      </if>
      <if test="reGoalType != null">
        re_goal_type = #{reGoalType,jdbcType=INTEGER},
      </if>
      <if test="reGoalNum != null">
        re_goal_num = #{reGoalNum,jdbcType=INTEGER},
      </if>
      <if test="reGoalName != null">
        re_goal_name = #{reGoalName,jdbcType=VARCHAR},
      </if>
      <if test="reGoalTipsOne != null">
        re_goal_tips_one = #{reGoalTipsOne,jdbcType=VARCHAR},
      </if>
      <if test="reGoalTipsTwo != null">
        re_goal_tips_two = #{reGoalTipsTwo,jdbcType=VARCHAR},
      </if>
      <if test="reParentId != null">
        re_parent_id = #{reParentId,jdbcType=INTEGER},
      </if>
      <if test="reParentType != null">
        re_parent_type = #{reParentType,jdbcType=INTEGER},
      </if>
    </set>
    where relation_id = #{relationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tenghong.ndip.model.diet.DietRelation">
    update diet_relation
    set re_goal_id = #{reGoalId,jdbcType=INTEGER},
      re_goal_type = #{reGoalType,jdbcType=INTEGER},
      re_goal_num = #{reGoalNum,jdbcType=INTEGER},
      re_goal_name = #{reGoalName,jdbcType=VARCHAR},
      re_goal_tips_one = #{reGoalTipsOne,jdbcType=VARCHAR},
      re_goal_tips_two = #{reGoalTipsTwo,jdbcType=VARCHAR},
      re_parent_id = #{reParentId,jdbcType=INTEGER},
      re_parent_type = #{reParentType,jdbcType=INTEGER}
    where relation_id = #{relationId,jdbcType=INTEGER}
  </update>

  <delete id="delete">
    delete from diet_relation
    WHERE
    re_parent_id = #{parentId}
    AND
    re_parent_type = #{parentType}
  </delete>

  <select id="getMenuId" resultType="java.lang.Integer">
    select re_parent_id
    from
    diet_relation
    where
    re_goal_id = #{reGoalId}
    AND
    re_goal_type = #{reGoalType}
    limit 1
  </select>
</mapper>