<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenghong.ndip.mapper.diet.DietDishMapper">
  <resultMap id="BaseResultMap" type="com.tenghong.ndip.model.diet.DietDish">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="cotl_price" jdbcType="DOUBLE" property="cotlPrice" />
    <result column="tb_ware_name" jdbcType="VARCHAR" property="tbWareName" />
    <result column="tb_ware_num" jdbcType="INTEGER" property="tbWareNum" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="typeName" jdbcType="VARCHAR" property="typeName" />
    <result column="cafeteriaId" jdbcType="INTEGER" property="cafeteriaId" />
    <association property="element" javaType="com.tenghong.ndip.model.diet.DietElement">
      <id column="element_id" jdbcType="INTEGER" property="elementId" />
      <result column="goal_type" jdbcType="INTEGER" property="goalType" />
      <result column="goal_id" jdbcType="INTEGER" property="goalId" />
      <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
      <result column="ENERGY" jdbcType="VARCHAR" property="energy" />
      <result column="PROTEIN" jdbcType="VARCHAR" property="protein" />
      <result column="FAT" jdbcType="VARCHAR" property="fat" />
      <result column="CARBOHYDRATE" jdbcType="VARCHAR" property="carbohydrate" />
      <result column="DF" jdbcType="VARCHAR" property="df" />
      <result column="Ca" jdbcType="VARCHAR" property="ca" />
      <result column="Fe" jdbcType="VARCHAR" property="fe" />
      <result column="Zn" jdbcType="VARCHAR" property="zn" />
      <result column="Se" jdbcType="VARCHAR" property="se" />
      <result column="Cu" jdbcType="VARCHAR" property="cu" />
      <result column="Mn" jdbcType="VARCHAR" property="mn" />
      <result column="Mg" jdbcType="VARCHAR" property="mg" />
      <result column="Na" jdbcType="VARCHAR" property="na" />
      <result column="K" jdbcType="VARCHAR" property="k" />
      <result column="P" jdbcType="VARCHAR" property="p" />
      <result column="VITA" jdbcType="VARCHAR" property="vita" />
      <result column="VITE" jdbcType="VARCHAR" property="vite" />
      <result column="VITB1" jdbcType="VARCHAR" property="vitb1" />
      <result column="VITB2" jdbcType="VARCHAR" property="vitb2" />
      <result column="VITC" jdbcType="VARCHAR" property="vitc" />
      <result column="VITPP" jdbcType="VARCHAR" property="vitpp" />
      <result column="ASP" jdbcType="VARCHAR" property="asp" />
      <result column="WATER" jdbcType="VARCHAR" property="water" />
      <result column="VPP" jdbcType="VARCHAR" property="vpp" />
      <result column="I" jdbcType="VARCHAR" property="i" />
      <result column="PURINE" jdbcType="VARCHAR" property="purine" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, type_id, name, price, cotl_price, tb_ware_name, tb_ware_num, icon, sort, create_time, 
    create_by, update_time, update_by, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from diet_dish
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from diet_dish
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tenghong.ndip.model.diet.DietDish">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into diet_dish (type_id, name, price, 
      cotl_price, tb_ware_name, tb_ware_num, 
      icon, sort, create_time, 
      create_by, update_time, update_by, 
      status)
    values (#{typeId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{cotlPrice,jdbcType=DOUBLE}, #{tbWareName,jdbcType=VARCHAR}, #{tbWareNum,jdbcType=INTEGER}, 
      #{icon,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tenghong.ndip.model.diet.DietDish">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into diet_dish
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="cotlPrice != null">
        cotl_price,
      </if>
      <if test="tbWareName != null">
        tb_ware_name,
      </if>
      <if test="tbWareNum != null">
        tb_ware_num,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="cotlPrice != null">
        #{cotlPrice,jdbcType=DOUBLE},
      </if>
      <if test="tbWareName != null">
        #{tbWareName,jdbcType=VARCHAR},
      </if>
      <if test="tbWareNum != null">
        #{tbWareNum,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tenghong.ndip.model.diet.DietDish">
    update diet_dish
    <set>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="cotlPrice != null">
        cotl_price = #{cotlPrice,jdbcType=DOUBLE},
      </if>
      <if test="tbWareName != null">
        tb_ware_name = #{tbWareName,jdbcType=VARCHAR},
      </if>
      <if test="tbWareNum != null">
        tb_ware_num = #{tbWareNum,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tenghong.ndip.model.diet.DietDish">
    update diet_dish
    set type_id = #{typeId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      cotl_price = #{cotlPrice,jdbcType=DOUBLE},
      tb_ware_name = #{tbWareName,jdbcType=VARCHAR},
      tb_ware_num = #{tbWareNum,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findPageCondition"  resultMap="BaseResultMap" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT
    dish.*,element.*,`type`.meal_type_name as typeName
    FROM
    diet_dish dish
    LEFT JOIN
    diet_element element
    ON
    dish.id = element.goal_id
    JOIN
    his_meal_type `type`
    ON
    `type`.id = dish.type_id
    <where>
      <if test="condition.name != null and condition.name != '' " >
        and  dish.`name` like concat(concat('%',#{condition.name}),'%')
      </if>
      <if test="condition.typeId != null and condition.typeId != '' " >
        and  dish.type_id = #{condition.typeId}
      </if>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and  `type`.cafeteria_id = #{condition.cafeteriaId}
      </if>
      and dish.status = 1
      and element.goal_type = 2
    </where>
    ORDER BY ${sort} ${order}
    LIMIT #{from}, #{size}
  </select>

  <select id="findPageCount" resultType="int" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT COUNT(1)
    FROM
    diet_dish dish
    LEFT JOIN
    diet_element element
    ON
    dish.id = element.goal_id
    JOIN
    his_meal_type `type`
    ON
    `type`.id = dish.type_id
    <where>
      <if test="condition.name != null and condition.name != '' " >
        and  dish.`name` like concat(concat('%',#{condition.name}),'%')
      </if>
      <if test="condition.typeId != null and condition.typeId != '' " >
        and  dish.type_id = #{condition.typeId}
      </if>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and  `type`.cafeteria_id = #{condition.cafeteriaId}
      </if>
      and dish.status = 1
      and element.goal_type = 2
    </where>
  </select>

  <select id="getInfo"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    dish.*,element.*,`type`.cafeteria_id as cafeteriaId
    FROM
    diet_dish dish
    LEFT JOIN
    diet_element element
    ON
    dish.id = element.goal_id
    JOIN
    his_meal_type `type`
    ON
    `type`.id = dish.type_id
    where dish.id = #{id,jdbcType=INTEGER}
  </select>
</mapper>