<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenghong.ndip.mapper.diet.IntlFoodTypeMapper">
  <resultMap id="BaseResultMap" type="com.tenghong.ndip.model.diet.IntlFoodType">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="intl_type_name" jdbcType="VARCHAR" property="intlTypeName" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
  </resultMap>

  <sql id="Base_Column_List">
        id, intl_type_name, level, pid
  </sql>

  <select id="selectParentType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from intl_food_type
    where
    pid = 0
  </select>

  <select id="selectChildType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from intl_food_type
    where
    pid = #{pid}
  </select>
</mapper>