<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenghong.ndip.mapper.diet.IntlFoodMapper">
  <resultMap id="BaseResultMap" type="com.tenghong.ndip.model.diet.IntlFood">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="type_code" jdbcType="INTEGER" property="typeCode" />
    <result column="DEPARTMENT" jdbcType="INTEGER" property="department" />
    <result column="ENERGY" jdbcType="VARCHAR" property="energy" />
    <result column="PROTEIN" jdbcType="VARCHAR" property="protein" />
    <result column="FAT" jdbcType="VARCHAR" property="fat" />
    <result column="CARBOHYDRATE" jdbcType="VARCHAR" property="carbohydrate" />
    <result column="DF" jdbcType="VARCHAR" property="df" />
    <result column="Ca" jdbcType="VARCHAR" property="ca" />
    <result column="Fe" jdbcType="VARCHAR" property="fe" />
    <result column="Zn" jdbcType="VARCHAR" property="zn" />
    <result column="Se" jdbcType="VARCHAR" property="se" />
    <result column="Cu" jdbcType="VARCHAR" property="cu" />
    <result column="Mn" jdbcType="VARCHAR" property="mn" />
    <result column="Mg" jdbcType="VARCHAR" property="mg" />
    <result column="Na" jdbcType="VARCHAR" property="na" />
    <result column="K" jdbcType="VARCHAR" property="k" />
    <result column="P" jdbcType="VARCHAR" property="p" />
    <result column="VITA" jdbcType="VARCHAR" property="vita" />
    <result column="VITE" jdbcType="VARCHAR" property="vite" />
    <result column="VITB1" jdbcType="VARCHAR" property="vitb1" />
    <result column="VITB2" jdbcType="VARCHAR" property="vitb2" />
    <result column="VITC" jdbcType="VARCHAR" property="vitc" />
    <result column="VITPP" jdbcType="VARCHAR" property="vitpp" />
    <result column="ASP" jdbcType="VARCHAR" property="asp" />
    <result column="WATER" jdbcType="VARCHAR" property="water" />
    <result column="VPP" jdbcType="VARCHAR" property="vpp" />
    <result column="I" jdbcType="VARCHAR" property="i" />
    <result column="PURINE" jdbcType="VARCHAR" property="purine" />
  </resultMap>
  <sql id="Base_Column_List">
    id, food_name, type_code, DEPARTMENT, ENERGY, PROTEIN, FAT, CARBOHYDRATE, DF, Ca, 
    Fe, Zn, Se, Cu, Mn, Mg, Na, K, P, VITA, VITE, VITB1, VITB2, VITC, VITPP, ASP, WATER, 
    VPP, I, PURINE
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from intl_food
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="findPageCondition"  resultType="com.tenghong.ndip.model.vo.IntlFoodVo" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT
    food.id AS code,food.food_name AS `name`
    FROM
    intl_food food
    LEFT JOIN
    intl_food_type ftype
    ON
    food.type_code = ftype.id
    <where>
        <if test="list.size()>0">
	        <foreach collection="list" open=" and food.type_code in (" close=")"
	                 item="typeCode" separator=",">
	          #{typeCode}
	        </foreach>
        </if>
        <if test="condition.name != null and condition.name != ''">
        	and  food.food_name = #{condition.name}
        </if>
        and ftype.pid != 0
    </where>
    ORDER BY ${sort} ${order}
    LIMIT #{from}, #{size}
  </select>

  <select id="findPageCount" resultType="int" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT COUNT(1)
    FROM
    intl_food food
    LEFT JOIN
    intl_food_type ftype
    ON
    food.type_code = ftype.id
    <where>
      <if test="list.size()>0">
	        <foreach collection="list" open=" and food.type_code in (" close=")"
	                 item="typeCode" separator=",">
	          #{typeCode}
	        </foreach>
        </if>
        <if test="condition.name != null and condition.name != ''">
        	and  food.food_name = #{condition.name}
        </if>
      and ftype.pid != 0
    </where>
  </select>
</mapper>