<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenghong.ndip.mapper.his.HisOmsMapper">
  <resultMap id="BaseResultMap" type="com.tenghong.ndip.model.his.HisOms">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="patient_id" jdbcType="VARCHAR" property="patientId" />
    <result column="meal_id" jdbcType="INTEGER" property="mealId" />
    <result column="meal_name" jdbcType="VARCHAR" property="mealName" />
    <result column="ward_id" jdbcType="INTEGER" property="wardId" />
    <result column="ward_name" jdbcType="VARCHAR" property="wardName" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="cafeteria_id" jdbcType="INTEGER" property="cafeteriaId" />
    <result column="cafeteria_name" jdbcType="VARCHAR" property="cafeteriaName" />
    <result column="oms_type" jdbcType="INTEGER" property="omsType" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="dining_time" jdbcType="TIMESTAMP" property="diningTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="bed_no" jdbcType="VARCHAR" property="bedNo" />
    <result column="inp_no" jdbcType="VARCHAR" property="inpNo" />
    <result column="patientName" jdbcType="VARCHAR" property="patientName" />
      <result column="oven_name" jdbcType="VARCHAR" property="ovenName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, patient_id, meal_id, meal_name, ward_id, ward_name, price, cafeteria_id, cafeteria_name, 
    oms_type, user_id, user_name, dining_time, create_time, update_time, create_by, update_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from his_oms
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findDataByIdMealId"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from his_oms
    where meal_id = #{mealId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from his_oms
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.tenghong.ndip.model.his.HisOms">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into his_oms (patient_id, meal_id, meal_name,
      ward_id, ward_name, price,
      cafeteria_id, cafeteria_name, oms_type,
      user_id, user_name, dining_time,
      create_time, update_time, create_by,
      update_by)
    values (#{patientId,jdbcType=VARCHAR}, #{mealId,jdbcType=INTEGER}, #{mealName,jdbcType=VARCHAR},
      #{wardId,jdbcType=INTEGER}, #{wardName,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE},
      #{cafeteriaId,jdbcType=INTEGER}, #{cafeteriaName,jdbcType=VARCHAR}, #{omsType,jdbcType=INTEGER},
      #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{diningTime,jdbcType=TIMESTAMP},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER},
      #{updateBy,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tenghong.ndip.model.his.HisOms">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into his_oms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="mealId != null">
        meal_id,
      </if>
      <if test="mealName != null">
        meal_name,
      </if>
      <if test="wardId != null">
        ward_id,
      </if>
      <if test="wardName != null">
        ward_name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="cafeteriaId != null">
        cafeteria_id,
      </if>
      <if test="cafeteriaName != null">
        cafeteria_name,
      </if>
      <if test="omsType != null">
        oms_type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="diningTime != null">
        dining_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="mealId != null">
        #{mealId,jdbcType=INTEGER},
      </if>
      <if test="mealName != null">
        #{mealName,jdbcType=VARCHAR},
      </if>
      <if test="wardId != null">
        #{wardId,jdbcType=INTEGER},
      </if>
      <if test="wardName != null">
        #{wardName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="cafeteriaId != null">
        #{cafeteriaId,jdbcType=INTEGER},
      </if>
      <if test="cafeteriaName != null">
        #{cafeteriaName,jdbcType=VARCHAR},
      </if>
      <if test="omsType != null">
        #{omsType,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="diningTime != null">
        #{diningTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tenghong.ndip.model.his.HisOms">
    update his_oms
    <set>
      <if test="patientId != null">
        patient_id = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="mealId != null">
        meal_id = #{mealId,jdbcType=INTEGER},
      </if>
      <if test="mealName != null">
        meal_name = #{mealName,jdbcType=VARCHAR},
      </if>
      <if test="wardId != null">
        ward_id = #{wardId,jdbcType=INTEGER},
      </if>
      <if test="wardName != null">
        ward_name = #{wardName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="cafeteriaId != null">
        cafeteria_id = #{cafeteriaId,jdbcType=INTEGER},
      </if>
      <if test="cafeteriaName != null">
        cafeteria_name = #{cafeteriaName,jdbcType=VARCHAR},
      </if>
      <if test="omsType != null">
        oms_type = #{omsType,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="diningTime != null">
        dining_time = #{diningTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tenghong.ndip.model.his.HisOms">
    update his_oms
    set patient_id = #{patientId,jdbcType=VARCHAR},
      meal_id = #{mealId,jdbcType=INTEGER},
      meal_name = #{mealName,jdbcType=VARCHAR},
      ward_id = #{wardId,jdbcType=INTEGER},
      ward_name = #{wardName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      cafeteria_id = #{cafeteriaId,jdbcType=INTEGER},
      cafeteria_name = #{cafeteriaName,jdbcType=VARCHAR},
      oms_type = #{omsType,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      dining_time = #{diningTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_by = #{updateBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findDataByIdList"  resultMap="BaseResultMap">
    SELECT
    oms.*
    FROM
    his_oms oms
    LEFT JOIN
    his_patient patient
    ON
    oms.patient_id = patient.patient_id
    LEFT JOIN
    his_inpatient_area ward
    ON
    ward.ward_code = patient.ward_code
    LEFT JOIN
    his_relation relation
    ON
    ward.id = relation.ward_id
    <where>
      <foreach collection="list" open=" and relation.cafeteria_id in (" close=")"
               item="id" separator=",">
        #{id}
      </foreach>
      and relation.user_id = #{userId}
    </where>
  </select>

  <select id="findPageCondition"  resultMap="BaseResultMap" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT
    oms.*,patient.bed_no as bedNo,patient.name as patientName,patient.inp_no as inpNo<!--,  detail.oven_name as ovenName-->
    FROM
    his_oms oms
    LEFT JOIN
    his_patient patient
    ON
    oms.patient_id = patient.patient_id
    LEFT JOIN
    his_inpatient_area ward
    ON
    ward.ward_code = patient.ward_code
    LEFT JOIN
    his_relation relation
    ON
    ward.id = relation.ward_id
    <!-- LEFT JOIN
    his_oms_details detail
    ON
    oms.id = detail.oms_id -->
    <where>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and relation.cafeteria_id = #{condition.cafeteriaId}
      </if>
      <if test="condition.wardId != null and condition.wardId != '' " >
        and ward.id = #{condition.wardId}
      </if>
      <!-- <if test="condition.ovenId != null and condition.ovenId != '' " >
        and detail.oven_id = #{condition.ovenId}
      </if> -->
      <!--<if test="condition.mealId != null and condition.mealId != '' " >
        and oms.meal_id = #{condition.mealId}
      </if>-->
      <if test="condition.userId != null and condition.userId != '' " >
        and oms.user_id = #{condition.userId}
      </if>
      <if test="condition.typeId != null and condition.typeId != '' " >
        and oms.oms_type = #{condition.typeId}
      </if>
      <if test="condition.patientName != null and condition.patientName != '' " >
        and  patient.`name` like concat(concat('%',#{condition.patientName}),'%')
      </if>
      <if test="condition.bedNo != null and condition.bedNo != '' " >
        and patient.bed_no = #{condition.bedNo}
      </if>
      <if test="condition.inpNo != null and condition.inpNo != '' " >
        and patient.inp_no = #{condition.inpNo}
      </if>
      <if test="condition.diningDateStart != null and condition.diningDateStart != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') >= #{condition.diningDateStart}]]>
      </if>
      <if test="condition.diningDateEnd != null and condition.diningDateEnd != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') <= #{condition.diningDateEnd}]]>
      </if>
    </where>
    ORDER BY ${sort} ${order}
    LIMIT #{from}, #{size}
  </select>

  <select id="findPageCount" resultType="int" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT COUNT(1)
    FROM
    his_oms oms
    LEFT JOIN
    his_patient patient
    ON
    oms.patient_id = patient.patient_id
    LEFT JOIN
    his_inpatient_area ward
    ON
    ward.ward_code = patient.ward_code
    LEFT JOIN
    his_relation relation
    ON
    ward.id = relation.ward_id
    <!--LEFT JOIN
    his_oms_details detail
    ON
    oms.id = detail.oms_id-->
     <where>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and relation.cafeteria_id = #{condition.cafeteriaId}
      </if>
      <if test="condition.wardId != null and condition.wardId != '' " >
        and ward.id = #{condition.wardId}
      </if>
      <!-- <if test="condition.ovenId != null and condition.ovenId != '' " >
        and detail.oven_id = #{condition.ovenId}
      </if> -->
      <!--<if test="condition.mealId != null and condition.mealId != '' " >
        and oms.meal_id = #{condition.mealId}
      </if>-->
      <if test="condition.userId != null and condition.userId != '' " >
        and oms.user_id = #{condition.userId}
      </if>
      <if test="condition.typeId != null and condition.typeId != '' " >
        and oms.oms_type = #{condition.typeId}
      </if>
      <if test="condition.patientName != null and condition.patientName != '' " >
        and  patient.`name` like concat(concat('%',#{condition.patientName}),'%')
      </if>
      <if test="condition.bedNo != null and condition.bedNo != '' " >
        and patient.bed_no = #{condition.bedNo}
      </if>
      <if test="condition.inpNo != null and condition.inpNo != '' " >
        and patient.inp_no = #{condition.inpNo}
      </if>
      <if test="condition.diningDateStart != null and condition.diningDateStart != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') >= #{condition.diningDateStart}]]>
      </if>
      <if test="condition.diningDateEnd != null and condition.diningDateEnd != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') <= #{condition.diningDateEnd}]]>
      </if>
    </where>
  </select>

  <select id="getOmsNum" resultType="java.lang.Integer">
    select
    count(1)
    from his_oms
    where
    patient_id = #{patientId}
    <![CDATA[ and DATE_FORMAT(dining_time,'%Y-%m-%d') = #{diningDate}]]>
  </select>
  
   <select id="getHisOmsBy" resultMap="BaseResultMap">
    select * from his_oms
    where patient_id = #{patientId} and  dining_time = #{diningDate,jdbcType=TIMESTAMP}
  </select>

  <select id="getOmsIds" resultType="java.lang.Integer">
    select
    id
    from his_oms
    where
    patient_id = #{patientId}
    <![CDATA[ and DATE_FORMAT(dining_time,'%Y-%m-%d') >= DATE_FORMAT(NOW(),'%Y-%m-%d')]]>
    and oms_type != 3
  </select>

  <select id="findOmsRewardNum" resultType="java.math.BigDecimal">
    select  CONVERT((select
    count(1) * 100
    from his_oms
    where
    <![CDATA[DATE_FORMAT(dining_time,'%Y-%m-%d') = DATE_FORMAT(#{omsDate},'%Y-%m-%d')]]>
    AND
    meal_id = #{mealId}
    AND price >0 
    and oms_type = 2) /
    (SELECT count(1)
	FROM his_patient d,his_relation a,his_cafeteria b,his_inpatient_area c
	 where a.cafeteria_id=b.id and a.ward_id=c.id and d.ward_code=c.ward_code and b.id=#{cafeteriaId}
	 and DATE_FORMAT(#{omsDate},'%Y-%m-%d') between DATE_FORMAT(d.in_hos_date,'%Y-%m-%d')
	 and ifnull(DATE_FORMAT(d.out_hos_date,'%Y-%m-%d'),'2099-12-31')),decimal(10,1))
  </select>

  <select id="findDailyOrderVal" resultType="com.tenghong.ndip.model.vo.OvenIndexVo">
    select
    count(1) as bookNum,IFNULL(sum(oms.price),0.00) as bookFees,oms.dining_time,oms_type,details.oven_id
    from his_oms oms
    left join
    his_oms_details details
    ON
    oms.id = details.oms_id
    GROUP BY
    oms.id
    having
    <![CDATA[DATE_FORMAT(oms.dining_time,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d')]]>
    AND
    details.oven_id = #{ovenId}
    AND
    oms_type = 2
    LIMIT 1
  </select>

  <select id="findIncome"  resultType="com.tenghong.ndip.model.vo.report.WardIncomeVo" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT
    ward.ward_name as wardName,ward.id as wardId,ward.code as wardCode
    FROM
    his_inpatient_area ward
    LEFT JOIN
    his_patient patient
    ON
    ward.ward_code = patient.ward_code
    LEFT JOIN
    his_relation relation
    ON
    ward.id = relation.ward_id
    <where>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and relation.cafeteria_id = #{condition.cafeteriaId}
      </if>
      <if test="condition.wardId != null and condition.wardId != '' " >
        and ward.id = #{condition.wardId}
      </if>
      <if test="condition.mealTimesId != null and condition.mealTimesId != '' " >
        and oms.meal_id = #{condition.mealTimesId}
      </if>
      <if test="condition.departmentId != null and condition.departmentId != '' " >
        and patient.dept_code = #{condition.departmentId}
      </if>
    </where>
    ORDER BY ${sort} ${order}
    LIMIT #{from}, #{size}
  </select>

  <select id="findIncomeCount" resultType="int" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT
    count(1)
    FROM
    his_inpatient_area ward
    LEFT JOIN
    his_patient patient
    ON
    ward.ward_code = patient.ward_code
    LEFT JOIN
    his_relation relation
    ON
    ward.id = relation.ward_id
    <where>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and relation.cafeteria_id = #{condition.cafeteriaId}
      </if>
      <if test="condition.wardId != null and condition.wardId != '' " >
        and ward.id = #{condition.wardId}
      </if>
      <if test="condition.mealTimesId != null and condition.mealTimesId != '' " >
        and oms.meal_id = #{condition.mealTimesId}
      </if>
      <if test="condition.departmentId != null and condition.departmentId != '' " >
        and patient.dept_code = #{condition.departmentId}
      </if>
      and ward.status = 1
    </where>
  </select>

  <select id="selectFinalSettlementAmount" resultType="java.lang.Double" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT
    SUM(oms.price)
    FROM
    his_oms oms
    LEFT JOIN
    his_inpatient_area ward
    ON
    oms.ward_id = ward.id
    <where>
      <if test="condition.wardId != null and condition.wardId != '' " >
        and ward.id = #{condition.wardId}
      </if>
      <if test="condition.startDate != null and condition.startDate != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') < #{condition.startDate}]]>
      </if>
      and oms.oms_type = 2
    </where>
  </select>

  <select id="selectThisPeriodSettlementAmount" resultType="java.lang.Double" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT
    SUM(oms.price)
    FROM
    his_oms oms
    LEFT JOIN
    his_inpatient_area ward
    ON
    oms.ward_id = ward.id
    <where>
      <if test="condition.wardId != null and condition.wardId != '' " >
        and ward.id = #{condition.wardId}
      </if>
      <if test="condition.startDate != null and condition.startDate != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') >= #{condition.startDate}]]>
      </if>
      <if test="condition.endDate != null and condition.endDate != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') <= #{condition.endDate}]]>
      </if>
      and oms.oms_type = 2
    </where>
  </select>

  <select id="selectThisPeriodAmount" resultType="java.lang.Double" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT
    SUM(oms.price)
    FROM
    his_oms oms
    LEFT JOIN
    his_inpatient_area ward
    ON
    oms.ward_id = ward.id
    <where>
      <if test="condition.wardId != null and condition.wardId != '' " >
        and ward.id = #{condition.wardId}
      </if>
      <if test="condition.startDate != null and condition.startDate != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') >= #{condition.startDate}]]>
      </if>
      <if test="condition.endDate != null and condition.endDate != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') <= #{condition.endDate}]]>
      </if>
      and oms.oms_type !=3
    </where>
  </select>

  <select id="findBuinessWard"  resultType="com.tenghong.ndip.model.vo.report.DeptWardVo" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT
    DISTINCT ward.ward_name as wardName,ward.id as wardId,ward.ward_code as wardCode
    FROM
    his_inpatient_area ward
    LEFT JOIN
    his_patient patient
    ON
    ward.ward_code = patient.ward_code
    LEFT JOIN
    his_relation relation
    ON
    ward.id = relation.ward_id
    <where>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and relation.cafeteria_id = #{condition.cafeteriaId}
      </if>
      <if test="condition.wardId != null and condition.wardId != '' " >
        and ward.id = #{condition.wardId}
      </if>
      <if test="condition.hisNo != null and condition.hisNo != '' " >
        and patient.inp_no = #{condition.hisNo}
      </if>
      <if test="condition.departmentId != null and condition.departmentId != '' " >
        and patient.dept_code = #{condition.departmentId}
      </if>
    </where>
    ORDER BY ${sort} ${order}
    LIMIT #{from}, #{size}
  </select>

  <select id="findBuinessWardCount" resultType="int" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT
    count(1)
    FROM
    his_inpatient_area ward
    LEFT JOIN
    his_patient patient
    ON
    ward.ward_code = patient.ward_code
    LEFT JOIN
    his_relation relation
    ON
    ward.id = relation.ward_id
    <where>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and relation.cafeteria_id = #{condition.cafeteriaId}
      </if>
      <if test="condition.wardId != null and condition.wardId != '' " >
        and ward.id = #{condition.wardId}
      </if>
      <if test="condition.hisNo != null and condition.hisNo != '' " >
        and patient.inp_no = #{condition.hisNo}
      </if>
      <if test="condition.departmentId != null and condition.departmentId != '' " >
        and patient.dept_code = #{condition.departmentId}
      </if>
      and ward.status = 1
    </where>
  </select>

  <select id="selectMealTimesAmount" resultType="java.lang.Double">
    SELECT
    IFNULL(SUM(oms.price),0.00)
    FROM
    his_oms oms
    LEFT JOIN
    his_inpatient_area ward
    ON
    oms.ward_id = ward.id
    <where>
      ward.id = #{wardId}
      and oms.meal_id = #{mealId}
      <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') >= #{startDate}]]>
      <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') <= #{endDate}]]>
      and oms.oms_type = 2
    </where>
  </select>

  <select id="selectOvenAmount" resultType="java.lang.Double">
    SELECT
    IFNULL(SUM(details.goal_price * goal_num),0.00)
    FROM
    his_oms oms
    LEFT  JOIN
    his_oms_details details
    ON
    oms.id = details.oms_id
    LEFT JOIN
    his_inpatient_area ward
    ON
    oms.ward_id = ward.id
    <where>
      ward.id = #{wardId}
      and details.oven_id = #{ovenId}
      <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') >= #{startDate}]]>
      <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') <= #{endDate}]]>
      and oms.oms_type = 2
    </where>
  </select>

  <select id="selectOrderInformation"  resultType="com.tenghong.ndip.model.vo.OrderInformationVo" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT
    patient.inp_no as hisNo,patient.name as `name`,DATE_FORMAT(oms.dining_time,'%Y-%m-%d') as bookDate,details.meal_name as mealTimeName,
    details.goal_name as dietName,details.goal_num as `number`,details.goal_price as perPrice,oms.price as price,oms.cafeteria_name as cafeteriaName,
    patient.dept_name as sickRoom,patient.bed_no as bedNo,oms.user_name as operator,oms.create_time as operaterTime
    FROM
    his_oms_details details
    LEFT JOIN
    his_oms oms
    ON
    details.oms_id = oms.id
    JOIN
    his_patient patient
    ON
    oms.patient_id = patient.patient_id
    JOIN
    his_inpatient_area ward
    ON
    patient.ward_code = ward.ward_code
    <where>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and oms.cafeteria_id = #{condition.cafeteriaId}
      </if>
      <if test="condition.wardId != null and condition.wardId != '' " >
        and ward.id = #{condition.wardId}
      </if>
      <if test="condition.hisNo != null and condition.hisNo != '' " >
        and patient.inp_no = #{condition.hisNo}
      </if>
      <if test="condition.departmentId != null and condition.departmentId != '' " >
        and patient.dept_code = #{condition.departmentId}
      </if>
      <if test="condition.name != null and condition.name != '' " >
        and patient.`name` = #{condition.name}
      </if>
      <if test="condition.startDate != null and condition.startDate != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') >= #{condition.startDate}]]>
      </if>
      <if test="condition.endDate != null and condition.endDate != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') <= #{condition.endDate}]]>
      </if>
      and oms.oms_type = 2
    </where>
    ORDER BY ${sort} ${order}
    LIMIT #{from}, #{size}
  </select>

  <select id="selectOrderInformationCount"  resultType="java.lang.Integer" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT
    COUNT(1)
    FROM
    his_oms_details details
    LEFT JOIN
    his_oms oms
    ON
    details.oms_id = oms.id
    JOIN
    his_patient patient
    ON
    oms.patient_id = patient.patient_id
    JOIN
    his_inpatient_area ward
    ON
    patient.ward_code = ward.ward_code
    <where>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and oms.cafeteria_id = #{condition.cafeteriaId}
      </if>
      <if test="condition.wardId != null and condition.wardId != '' " >
        and ward.id = #{condition.wardId}
      </if>
      <if test="condition.hisNo != null and condition.hisNo != '' " >
        and patient.inp_no = #{condition.hisNo}
      </if>
      <if test="condition.departmentId != null and condition.departmentId != '' " >
        and patient.dept_code = #{condition.departmentId}
      </if>
      <if test="condition.name != null and condition.name != '' " >
        and patient.`name` = #{condition.name}
      </if>
      <if test="condition.startDate != null and condition.startDate != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') >= #{condition.startDate}]]>
      </if>
      <if test="condition.endDate != null and condition.endDate != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') <= #{condition.endDate}]]>
      </if>
      and oms.oms_type = 2
    </where>
  </select>
</mapper>