<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenghong.ndip.mapper.his.HisPatientOrdersMapper">
  <resultMap id="BaseResultMap" type="com.tenghong.ndip.model.his.HisPatientOrders">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="patient_id" jdbcType="VARCHAR" property="patientId" />
    <result column="inp_no" jdbcType="VARCHAR" property="inpNo" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="order_class_code" jdbcType="VARCHAR" property="orderClassCode" />
    <result column="order_class_name" jdbcType="VARCHAR" property="orderClassName" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="order_name" jdbcType="VARCHAR" property="orderName" />
    <result column="ward_code" jdbcType="VARCHAR" property="wardCode" />
    <result column="ward_name" jdbcType="VARCHAR" property="wardName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, patient_id, inp_no, start_time, end_time, order_class_code, order_class_name, 
    order_code, order_name, ward_code, ward_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from his_patient_orders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from his_patient_orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tenghong.ndip.model.his.HisPatientOrders">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into his_patient_orders (patient_id, inp_no, start_time, 
      end_time, order_class_code, order_class_name, 
      order_code, order_name, ward_code, 
      ward_name)
    values (#{patientId,jdbcType=VARCHAR}, #{inpNo,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP},
      #{endTime,jdbcType=TIMESTAMP}, #{orderClassCode,jdbcType=VARCHAR}, #{orderClassName,jdbcType=VARCHAR}, 
      #{orderCode,jdbcType=VARCHAR}, #{orderName,jdbcType=VARCHAR}, #{wardCode,jdbcType=VARCHAR}, 
      #{wardName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tenghong.ndip.model.his.HisPatientOrders">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into his_patient_orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="inpNo != null">
        inp_no,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="orderClassCode != null">
        order_class_code,
      </if>
      <if test="orderClassName != null">
        order_class_name,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="orderName != null">
        order_name,
      </if>
      <if test="wardCode != null">
        ward_code,
      </if>
      <if test="wardName != null">
        ward_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="inpNo != null">
        #{inpNo,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderClassCode != null">
        #{orderClassCode,jdbcType=VARCHAR},
      </if>
      <if test="orderClassName != null">
        #{orderClassName,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderName != null">
        #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="wardCode != null">
        #{wardCode,jdbcType=VARCHAR},
      </if>
      <if test="wardName != null">
        #{wardName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tenghong.ndip.model.his.HisPatientOrders">
    update his_patient_orders
    <set>
      <if test="patientId != null">
        patient_id = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="inpNo != null">
        inp_no = #{inpNo,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderClassCode != null">
        order_class_code = #{orderClassCode,jdbcType=VARCHAR},
      </if>
      <if test="orderClassName != null">
        order_class_name = #{orderClassName,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderName != null">
        order_name = #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="wardCode != null">
        ward_code = #{wardCode,jdbcType=VARCHAR},
      </if>
      <if test="wardName != null">
        ward_name = #{wardName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tenghong.ndip.model.his.HisPatientOrders">
    update his_patient_orders
    set patient_id = #{patientId,jdbcType=VARCHAR},
      inp_no = #{inpNo,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      order_class_code = #{orderClassCode,jdbcType=VARCHAR},
      order_class_name = #{orderClassName,jdbcType=VARCHAR},
      order_code = #{orderCode,jdbcType=VARCHAR},
      order_name = #{orderName,jdbcType=VARCHAR},
      ward_code = #{wardCode,jdbcType=VARCHAR},
      ward_name = #{wardName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findDataByIdList"  resultMap="BaseResultMap">
    SELECT
    orders.*
    FROM
    his_patient_orders orders
    LEFT JOIN
    his_inpatient_area ward
    ON
    orders.ward_code = ward.ward_code
    LEFT JOIN
    his_relation relation
    ON
    ward.id = relation.ward_id
    <where>
      <foreach collection="list" open=" and relation.cafeteria_id in (" close=")"
               item="id" separator=",">
        #{id}
      </foreach>
      and relation.user_id = #{userId}
    </where>
    GROUP BY
    orders.patient_id
    ORDER BY
    orders.start_time
    DESC
  </select>
</mapper>