<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenghong.ndip.mapper.his.HisPatientWalletMapper">
  <resultMap id="BaseResultMap" type="com.tenghong.ndip.model.his.HisPatientWallet">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="patient_id" jdbcType="VARCHAR" property="patientId" />
    <result column="total_wallet" jdbcType="DOUBLE" property="totalWallet" />
    <result column="his_wallet" jdbcType="DOUBLE" property="hisWallet" />
  </resultMap>
  <sql id="Base_Column_List">
    id, patient_id, total_wallet, his_wallet
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from his_patient_wallet
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPatientId"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from his_patient_wallet
    where patient_id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from his_patient_wallet
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tenghong.ndip.model.his.HisPatientWallet">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into his_patient_wallet (patient_id, total_wallet, his_wallet
      )
    values (#{patientId,jdbcType=VARCHAR}, #{totalWallet,jdbcType=DOUBLE}, #{hisWallet,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tenghong.ndip.model.his.HisPatientWallet">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into his_patient_wallet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="totalWallet != null">
        total_wallet,
      </if>
      <if test="hisWallet != null">
        his_wallet,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="totalWallet != null">
        #{totalWallet,jdbcType=DOUBLE},
      </if>
      <if test="hisWallet != null">
        #{hisWallet,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tenghong.ndip.model.his.HisPatientWallet">
    update his_patient_wallet
    <set>
      <if test="patientId != null">
        patient_id = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="totalWallet != null">
        total_wallet = #{totalWallet,jdbcType=DOUBLE},
      </if>
      <if test="hisWallet != null">
        his_wallet = #{hisWallet,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tenghong.ndip.model.his.HisPatientWallet">
    update his_patient_wallet
    set patient_id = #{patientId,jdbcType=VARCHAR},
      total_wallet = #{totalWallet,jdbcType=DOUBLE},
      his_wallet = #{hisWallet,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>