<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenghong.ndip.mapper.his.ReportMapper">
  <resultMap id="BaseResultMap" type="com.tenghong.ndip.model.his.ReportHisOms">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="patientId" jdbcType="VARCHAR" property="patientId" />
    <result column="patientName" jdbcType="VARCHAR" property="patientName" />
    <result column="orderName" jdbcType="VARCHAR" property="orderName" />
    <result column="wardId" jdbcType="INTEGER" property="wardId" />
    <result column="wardName" jdbcType="VARCHAR" property="wardName" />
    <result column="inpNo" jdbcType="VARCHAR" property="inpNo" />
    <result column="bedNo" jdbcType="VARCHAR" property="bedNo" />
    <result column="cafeteriaId" jdbcType="INTEGER" property="cafeteriaId" />
    <result column="cafeteriaName" jdbcType="VARCHAR" property="cafeteriaName" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="diningTime" jdbcType="TIMESTAMP" property="diningTime" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createBy" jdbcType="INTEGER" property="createBy" />
    <result column="createByName" jdbcType="VARCHAR" property="createByName" />
    <result column="omsType" jdbcType="INTEGER" property="omsType" />
    <result column="ovenId" jdbcType="INTEGER" property="ovenId" />
    <result column="ovenName" jdbcType="VARCHAR" property="ovenName" />
    <result column="mealId" jdbcType="INTEGER" property="mealId" />
    <result column="mealName" jdbcType="VARCHAR" property="mealName" />
    <result column="goalType" jdbcType="INTEGER" property="goalType" />
    <result column="goalId" jdbcType="INTEGER" property="goalId" />
    <result column="goalName" jdbcType="VARCHAR" property="goalName" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="num" jdbcType="DOUBLE" property="num" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="lastAmount" jdbcType="DOUBLE" property="lastAmount" />
    <result column="totalAmount" jdbcType="DOUBLE" property="totalAmount" />
  </resultMap>
  <select id="getUseMeals"  resultMap="BaseResultMap" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT
    detail.oven_id ovenId,detail.oven_name ovenName,detail.goal_id goalId,detail.goal_name goalName,sum(detail.goal_num) num
    FROM
    his_patient patient join his_oms oms on patient.patient_id = oms.patient_id join his_oms_details detail on oms.id=detail.oms_id
    <where>
      <if test="condition.ovenId.size()>0" >
	      <foreach collection="condition.ovenId" open=" and detail.oven_id in (" close=")"
	               item="id" separator=",">
	        #{id}
	      </foreach>
      </if>
      <if test="condition.diningTime != null and condition.diningTime != '' " >
        <![CDATA[ and (DATE_FORMAT(oms.dining_time,'%Y-%m-%d')) = #{condition.diningDate} ]]>
      </if>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and oms.cafeteria_id = #{condition.cafeteriaId}
      </if>
      <if test="condition.deptCode != null and condition.deptCode != '' " >
        and patient.dept_code = #{condition.deptCode}
      </if>
      <if test="condition.wardId != null and condition.wardId != '' " >
        oms.ward_code = #{condition.wardCode}
      </if>
      <if test="condition.mealId != null and condition.mealId != '' " >
        and detail.meal_id = #{condition.mealId}
      </if>
      and detail.oms_status=1
    </where>
    group by detail.oven_id,detail.oven_name,detail.goal_id,detail.goal_name
    ORDER BY detail.oven_id,detail.goal_id
    LIMIT #{from}, #{size}
  </select>
  
   <select id="findUseMealCount"  resultType="int" parameterType="com.tenghong.ndip.utils.PageInfo">
    select count(1) from (select detail.oven_id,detail.oven_name,detail.goal_id,detail.goal_name,count(1)
     FROM
    his_patient patient join his_oms oms on patient.patient_id = oms.patient_id join his_oms_details detail on oms.id=detail.oms_id
    <where>
      <if test="condition.ovenId.size()>0" >
	      <foreach collection="condition.ovenId" open=" and detail.oven_id in (" close=")"
	               item="id" separator=",">
	        #{id}
	      </foreach>
	  </if>
      <if test="condition.diningTime != null and condition.diningTime != '' " >
        <![CDATA[ and (DATE_FORMAT(oms.dining_time,'%Y-%m-%d')) = #{condition.diningDate} ]]>
      </if>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and oms.cafeteria_id = #{condition.cafeteriaId}
      </if>
      <if test="condition.deptCode != null and condition.deptCode != '' " >
        and patient.dept_code = #{condition.deptCode}
      </if>
      <if test="condition.wardId != null and condition.wardId != '' " >
        oms.ward_code = #{condition.wardCode}
      </if>
      <if test="condition.mealId != null and condition.mealId != '' " >
        and detail.meal_id = #{condition.mealId}
      </if>
      and detail.oms_status=1
    </where>
    group by detail.oven_id,detail.oven_name,detail.goal_id,detail.goal_name) b
  </select>
  
  <select id="getSendMeals"  resultMap="BaseResultMap" parameterType="com.tenghong.ndip.utils.PageInfo">
   SELECT
    patient.id patientId,patient.name patientName,patient.bed_no bedNo,patient_orders.order_name orderName,patient.inp_no inpNo,
    detail.oven_id ovenId,detail.oven_name ovenName,detail.goal_id goalId,detail.goal_name goalName,sum(detail.goal_num) num,oms.user_id userId,oms.user_name userName
    FROM
    his_patient patient join his_oms oms on patient.patient_id = oms.patient_id join his_oms_details detail on oms.id=detail.oms_id
    join  (select  patient_id,order_name from (SELECT * from his_patient_orders order by start_time desc) A  group by A.patient_id) patient_orders
    on patient.patient_id = patient_orders.patient_id
    <where>
      <if test="condition.ovenId.size()>0" >
	      <foreach collection="condition.ovenId" open=" and detail.oven_id in (" close=")"
	               item="id" separator=",">
	        #{id}
	      </foreach>
      </if>
      <if test="condition.diningTime != null and condition.diningTime != '' " >
        <![CDATA[ and (DATE_FORMAT(oms.dining_time,'%Y-%m-%d')) = #{condition.diningDate} ]]>
      </if>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and oms.cafeteria_id = #{condition.cafeteriaId}
      </if>
       <if test="condition.bedNo != null and condition.bedNo != '' " >
        and patient.bed_no = #{condition.bedNo}
      </if>
      <if test="condition.deptCode != null and condition.deptCode != '' " >
        and patient.dept_code = #{condition.deptCode}
      </if>
      <if test="condition.wardId != null and condition.wardId != '' " >
        oms.ward_code = #{condition.wardCode}
      </if>
      <if test="condition.mealId != null and condition.mealId != '' " >
        and detail.meal_id = #{condition.mealId}
      </if>
      and detail.oms_status=1
    </where>
    group by patient.id,patient.name,patient.bed_no,patient_orders.order_name,patient.inp_no,detail.oven_id,detail.oven_name,detail.goal_id,
    detail.goal_name,oms.user_id,oms.user_name order by patient.patient_id
    LIMIT #{from}, #{size}
  </select>
  
   <select id="findSendMealCount"  resultType="int" parameterType="com.tenghong.ndip.utils.PageInfo">
    select count(1) from (SELECT
    patient.id patientId,patient.name patientName,patient.bed_no bedNo,patient_orders.order_name orderName,patient.inp_no inpNo,
    detail.oven_id ovenId,detail.oven_name ovenName,detail.goal_id goalId,detail.goal_name goalName,sum(detail.goal_num) num,oms.user_id userId,oms.user_name userName
    FROM
    his_patient patient join his_oms oms on patient.patient_id = oms.patient_id join his_oms_details detail on oms.id=detail.oms_id
    join  (select  patient_id,order_name from (SELECT * from his_patient_orders order by start_time desc) A  group by A.patient_id) patient_orders
    on patient.patient_id = patient_orders.patient_id
     <where>
      <if test="condition.ovenId.size()>0" >
	      <foreach collection="condition.ovenId" open=" and detail.oven_id in (" close=")"
	               item="id" separator=",">
	        #{id}
	      </foreach>
      </if>
      <if test="condition.diningTime != null and condition.diningTime != '' " >
        <![CDATA[ and (DATE_FORMAT(oms.dining_time,'%Y-%m-%d')) = #{condition.diningDate} ]]>
      </if>
      <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and oms.cafeteria_id = #{condition.cafeteriaId}
      </if>
       <if test="condition.bedNo != null and condition.bedNo != '' " >
        and patient.bed_no = #{condition.bedNo}
      </if>
      <if test="condition.deptCode != null and condition.deptCode != '' " >
        and patient.dept_code = #{condition.deptCode}
      </if>
      <if test="condition.wardId != null and condition.wardId != '' " >
        oms.ward_code = #{condition.wardCode}
      </if>
      <if test="condition.mealId != null and condition.mealId != '' " >
        and detail.meal_id = #{condition.mealId}
      </if>
      and detail.oms_status=1
    </where>
    group by patient.id,patient.name,patient.bed_no,patient_orders.order_name,patient.inp_no,detail.oven_id,detail.oven_name,detail.goal_id) b
  </select>
  
   <select id="getOvenStat"  resultMap="BaseResultMap" parameterType="com.tenghong.ndip.utils.PageInfo">
  	 SELECT
    	detail.oven_id ovenId,detail.oven_name ovenName,detail.meal_id mealId,detail.meal_name mealName,detail.goal_id goalId,detail.goal_name goalName,
    	sum(detail.goal_num) num FROM
    	his_oms oms join his_oms_details detail on oms.id=detail.oms_id
    <where>
      <if test="list.size()>0" >
	      <foreach collection="list" open=" and detail.oven_id in (" close=")"
	               item="id" separator=",">
	        #{id}
	      </foreach>
      </if>
      <if test="diningTime != null and diningTime != '' " >
        <![CDATA[ and (DATE_FORMAT(oms.dining_time,'%Y-%m-%d')) = #{diningDate} ]]>
      </if>
      <if test="cafeteriaId != null and cafeteriaId != '' " >
        and oms.cafeteria_id = #{cafeteriaId}
      </if>
      and detail.oms_status=1
    </where>
     group by detail.oven_id,detail.oven_name,detail.meal_id,detail.meal_name,detail.goal_id,detail.goal_name
  </select>
  
   <select id="getConsumptionStat"  resultMap="BaseResultMap" parameterType="com.tenghong.ndip.utils.PageInfo">
  	SELECT
    	patient.ward_code wardId,patient.ward_name wardName,patient.inp_no inpNo,patient.bed_no bedNo,patient.id patientId,patient.name patientName,detail.meal_id mealId,
    	detail.meal_name mealName,detail.goal_id goalId,detail.goal_name goalName,sum(detail.goal_num) num,sum(detail.current_price) amount 
      FROM
     his_patient patient join his_oms oms on patient.patient_id = oms.patient_id join his_oms_details detail on oms.id=detail.oms_id
    <where>
      <if test="list.size()>0" >
	      <foreach collection="list" open=" and detail.meal_id in (" close=")"
	               item="id" separator=",">
	        #{id}
	      </foreach>
      </if>
      <if test="diningTime != null and diningTime != '' " >
        <![CDATA[ and (DATE_FORMAT(oms.dining_time,'%Y-%m-%d')) = #{diningDate} ]]>
      </if>
      <if test="cafeteriaId != null and cafeteriaId != '' " >
        and oms.cafeteria_id = #{cafeteriaId}
      </if>
      <if test="deptCode != null and deptCode != '' " >
        and patient.dept_code = #{deptCode}
      </if>
      <if test="wardCode != null and wardCode != '' " >
        oms.ward_code = #{wardCode}
      </if>
      and detail.oms_status=1
    </where>
     group by patient.ward_code,patient.ward_name,patient.inp_no,patient.bed_no,patient.id,patient.name,detail.meal_id,
    	detail.meal_name,detail.goal_id,detail.goal_name
  </select>
  
  <select id="getWardAmountStat"  resultMap="BaseResultMap" parameterType="com.tenghong.ndip.utils.PageInfo">
  	SELECT wardName, SUM(amount) amount,SUM(lastamount) lastamount,SUM(totalamount) totalamount FROM (
  	SELECT
    	patient.ward_code wardId,patient.ward_name wardName,sum(detail.current_price) amount,0 lastamount,0 totalamount
      FROM
     his_patient patient join his_oms oms on patient.patient_id = oms.patient_id join his_oms_details detail on oms.id=detail.oms_id
    <where>
      <if test="list.size()>0" >
	      <foreach collection="list" open=" and detail.meal_id in (" close=")"
	               item="id" separator=",">
	        #{id}
	      </foreach>
      </if>
      <if test="diningTimeEnd != null and diningTimeEnd != '' " >
        <![CDATA[ and (DATE_FORMAT(oms.dining_time,'%Y-%m-%d')) <= #{diningTimeEnd} ]]>
      </if>
      <if test="diningTimeBegin != null and diningTimeBegin != '' " >
        <![CDATA[ and (DATE_FORMAT(oms.dining_time,'%Y-%m-%d')) >= #{diningTimeBegin} ]]>
      </if>
      <if test="cafeteriaId != null and cafeteriaId != '' " >
        and oms.cafeteria_id = #{cafeteriaId}
      </if>
      <if test="deptCode != null and deptCode != '' " >
        and patient.dept_code = #{deptCode}
      </if>
      <if test="wardCode != null and wardCode != '' " >
        oms.ward_code = #{wardCode}
      </if>
      and detail.oms_status=1
    </where>
     group by patient.ward_code,patient.ward_name
     
     UNION ALL
     
     SELECT
    	patient.ward_code wardId,patient.ward_name wardName,0 amount,sum(detail.current_price) lastamount,0 totalamount
      FROM
     his_patient patient join his_oms oms on patient.patient_id = oms.patient_id join his_oms_details detail on oms.id=detail.oms_id
    <where>
      <if test="list.size()>0" >
	      <foreach collection="list" open=" and detail.meal_id in (" close=")"
	               item="id" separator=",">
	        #{id}
	      </foreach>
      </if>
      <if test="diningTimeBegin != null and diningTimeBegin != '' " >
        <![CDATA[ and (DATE_FORMAT(oms.dining_time,'%Y-%m-%d')) < #{diningTimeBegin} ]]>
      </if>
      <if test="cafeteriaId != null and cafeteriaId != '' " >
        and oms.cafeteria_id = #{cafeteriaId}
      </if>
      <if test="deptCode != null and deptCode != '' " >
        and patient.dept_code = #{deptCode}
      </if>
      <if test="wardCode != null and wardCode != '' " >
        oms.ward_code = #{wardCode}
      </if>
      and detail.oms_status=1
    </where>
     group by patient.ward_code,patient.ward_name
     
     UNION ALL
     
     SELECT
    	patient.ward_code wardId,patient.ward_name wardName,0 amount,0 lastamount,sum(detail.current_price) totalamount
      FROM
     his_patient patient join his_oms oms on patient.patient_id = oms.patient_id join his_oms_details detail on oms.id=detail.oms_id
    <where>
      <if test="list.size()>0" >
	      <foreach collection="list" open=" and detail.meal_id in (" close=")"
	               item="id" separator=",">
	        #{id}
	      </foreach>
      </if>
      <if test="diningTimeEnd != null and diningTimeEnd != '' " >
        <![CDATA[ and (DATE_FORMAT(oms.dining_time,'%Y-%m-%d')) <= #{diningTimeEnd} ]]>
      </if>
      <if test="cafeteriaId != null and cafeteriaId != '' " >
        and oms.cafeteria_id = #{cafeteriaId}
      </if>
      <if test="deptCode != null and deptCode != '' " >
        and patient.dept_code = #{deptCode}
      </if>
      <if test="wardCode != null and wardCode != '' " >
        oms.ward_code = #{wardCode}
      </if>
      and detail.oms_status=1
    </where>
     group by patient.ward_code,patient.ward_name) B GROUP BY wardName
  </select>
  
  <select id="selectOrderInformation"  resultMap="BaseResultMap" parameterType="com.tenghong.ndip.utils.PageInfo">
   SELECT
    patient.inp_no inpNo,patient.name patientName,oms.dining_time diningTime,detail.meal_name mealName,detail.goal_name goalName,
    sum(detail.goal_num) num,sum(detail.current_price)/sum(detail.goal_num) price,sum(detail.current_price) amount,oms.cafeteria_name cafeteriaName,
    patient.ward_name wardName,patient.bed_no bedNo,detail.create_by createBy,detail.create_time createTime,usr.user_name createByName
    FROM
    his_patient patient join his_oms oms on patient.patient_id = oms.patient_id join his_oms_details detail on oms.id=detail.oms_id
    left join sys_user usr on usr.user_id=detail.create_by
    <where>
     <if test="condition.mealIds.size()>0" >
	   <foreach collection="condition.mealIds" open=" and detail.meal_id in (" close=")"
	               item="id" separator=",">
	       #{id}
	   </foreach>
     </if>
     <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and oms.cafeteria_id = #{condition.cafeteriaId}
      </if>
       <if test="condition.deptCode != null and condition.deptCode != '' " >
        and patient.dept_code = #{condition.deptCode}
      </if>
      <if test="condition.wardId != null and condition.wardId != '' " >
        and oms.ward_code = #{condition.wardCode}
      </if>
      <if test="condition.inpNo != null and condition.inpNo != '' " >
        and patient.inp_no = #{condition.inpNo}
      </if>
      <if test="condition.patientnName != null and condition.patientnName != '' " >
        and patient.name = #{condition.patientnName}
      </if>
      <if test="condition.diningTimeBegin != null and condition.diningTimeBegin != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') >= #{condition.diningTimeBegin}]]>
      </if>
      <if test="condition.diningTimeEnd != null and condition.diningTimeEnd != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') <= #{condition.diningTimeEnd}]]>
      </if>
      and detail.oms_status=1
    </where>
     group by patient.inp_no,patient.name,oms.dining_time,detail.meal_name,detail.goal_name,oms.cafeteria_name,
     patient.ward_name,patient.bed_no,detail.create_by,detail.create_time order by patient.id,oms.dining_time,detail.meal_id,detail.goal_id
     LIMIT #{from}, #{size}
  </select>

  <select id="selectOrderInformationCount"  resultType="java.lang.Integer" parameterType="com.tenghong.ndip.utils.PageInfo">
    SELECT COUNT(1) FROM (SELECT
    patient.inp_no inpNo,patient.name patientName,oms.dining_time diningTime,detail.meal_name mealName,detail.goal_name goalName,
    sum(detail.goal_num) num,sum(detail.current_price)/sum(detail.goal_num) price,sum(detail.current_price) amount,oms.cafeteria_name cafeteriaName,
    patient.ward_name wardName,patient.bed_no bedNo,detail.create_by createBy,detail.create_time createTime,usr.user_name createByName
    FROM
    his_patient patient join his_oms oms on patient.patient_id = oms.patient_id join his_oms_details detail on oms.id=detail.oms_id
    left join sys_user usr on usr.user_id=detail.create_by
    <where>
     <if test="condition.mealIds.size()>0" >
	   <foreach collection="condition.mealIds" open=" and detail.meal_id in (" close=")"
	               item="id" separator=",">
	       #{id}
	   </foreach>
     </if>
     <if test="condition.cafeteriaId != null and condition.cafeteriaId != '' " >
        and oms.cafeteria_id = #{condition.cafeteriaId}
      </if>
       <if test="condition.deptCode != null and condition.deptCode != '' " >
        and patient.dept_code = #{condition.deptCode}
      </if>
      <if test="condition.wardId != null and condition.wardId != '' " >
        and oms.ward_code = #{condition.wardCode}
      </if>
      <if test="condition.inpNo != null and condition.inpNo != '' " >
        and patient.inp_no = #{condition.inpNo}
      </if>
      <if test="condition.patientnName != null and condition.patientnName != '' " >
        and patient.name = #{condition.patientnName}
      </if>
      <if test="condition.diningTimeBegin != null and condition.diningTimeBegin != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') >= #{condition.diningTimeBegin}]]>
      </if>
      <if test="condition.diningTimeEnd != null and condition.diningTimeEnd != '' " >
        <![CDATA[ and DATE_FORMAT(oms.dining_time,'%Y-%m-%d') <= #{condition.diningTimeEnd}]]>
      </if>
      and detail.oms_status=1
    </where>
     group by patient.inp_no,patient.name,oms.dining_time,detail.meal_name,detail.goal_name,oms.cafeteria_name,
     patient.ward_name,patient.bed_no,detail.create_by,detail.create_time) B
  </select>
</mapper>