<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenghong.ndip.mapper.sys.SysResourcesPkgMapper">
  <resultMap id="BaseResultMap" type="com.tenghong.ndip.model.sys.SysResourcesPkg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="resources_id" jdbcType="INTEGER" property="resourcesId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, resources_id, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_resources_pkg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_resources_pkg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tenghong.ndip.model.sys.SysResourcesPkg">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_resources_pkg (resources_id, user_id)
    values (#{resourcesId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tenghong.ndip.model.sys.SysResourcesPkg">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_resources_pkg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resourcesId != null">
        resources_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resourcesId != null">
        #{resourcesId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tenghong.ndip.model.sys.SysResourcesPkg">
    update sys_resources_pkg
    <set>
      <if test="resourcesId != null">
        resources_id = #{resourcesId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tenghong.ndip.model.sys.SysResourcesPkg">
    update sys_resources_pkg
    set resources_id = #{resourcesId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertPlus">
    insert into sys_resources_pkg (resources_id, user_id)
    values
    <foreach collection="list" item="item" index= "index" separator =",">
      (
      #{item.resourcesId},
      #{item.userId}
      )
    </foreach>

  </insert>
</mapper>