<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenghong.ndip.mapper.sys.SysResourcesMapper">
  <resultMap id="BaseResultMap" type="com.tenghong.ndip.model.sys.SysResources">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="pcode" jdbcType="VARCHAR" property="pcode" />
    <result column="pcodes" jdbcType="VARCHAR" property="pcodes" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="levels" jdbcType="INTEGER" property="levels" />
    <result column="is_menu" jdbcType="INTEGER" property="isMenu" />
    <result column="tips" jdbcType="VARCHAR" property="tips" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_open" jdbcType="INTEGER" property="isOpen" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, pcode, pcodes, name, icon, url, num, levels, is_menu, tips, status, is_open
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_resources
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_resources
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tenghong.ndip.model.sys.SysResources">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_resources (code, pcode, pcodes, 
      name, icon, url, num, 
      levels, is_menu, tips, 
      status, is_open)
    values (#{code,jdbcType=VARCHAR}, #{pcode,jdbcType=VARCHAR}, #{pcodes,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{levels,jdbcType=INTEGER}, #{isMenu,jdbcType=INTEGER}, #{tips,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{isOpen,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tenghong.ndip.model.sys.SysResources">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_resources
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="pcode != null">
        pcode,
      </if>
      <if test="pcodes != null">
        pcodes,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="levels != null">
        levels,
      </if>
      <if test="isMenu != null">
        is_menu,
      </if>
      <if test="tips != null">
        tips,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isOpen != null">
        is_open,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="pcode != null">
        #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="pcodes != null">
        #{pcodes,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="levels != null">
        #{levels,jdbcType=INTEGER},
      </if>
      <if test="isMenu != null">
        #{isMenu,jdbcType=INTEGER},
      </if>
      <if test="tips != null">
        #{tips,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isOpen != null">
        #{isOpen,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tenghong.ndip.model.sys.SysResources">
    update sys_resources
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="pcode != null">
        pcode = #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="pcodes != null">
        pcodes = #{pcodes,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="levels != null">
        levels = #{levels,jdbcType=INTEGER},
      </if>
      <if test="isMenu != null">
        is_menu = #{isMenu,jdbcType=INTEGER},
      </if>
      <if test="tips != null">
        tips = #{tips,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isOpen != null">
        is_open = #{isOpen,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tenghong.ndip.model.sys.SysResources">
    update sys_resources
    set code = #{code,jdbcType=VARCHAR},
      pcode = #{pcode,jdbcType=VARCHAR},
      pcodes = #{pcodes,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      levels = #{levels,jdbcType=INTEGER},
      is_menu = #{isMenu,jdbcType=INTEGER},
      tips = #{tips,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      is_open = #{isOpen,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getParentTreeNode" resultType="com.tenghong.ndip.model.vo.ResourcesVo">
    select res.id,res.code,res.name,res.icon,res.url,res.levels,res.is_open isOpen
    FROM
    sys_resources  res
    <if test="userId != null and userId != '' " >
    LEFT JOIN
    sys_resources_pkg rela
    ON
    res.id = rela.resources_id
    </if>
    <where>
      <if test="userId != null and userId != '' " >
        rela.user_id = #{userId}
      </if>
      and res.pcode = '0'
    </where>
    ORDER BY
    num
  </select>

  <select id="getChildrenNode" resultType="com.tenghong.ndip.model.vo.ResourcesVo">
    select  res.id,res.code,res.name,res.icon,res.url,res.levels,res.is_open isOpen
    FROM
    sys_resources  res
    <if test="userId != null and userId != '' " >
    LEFT JOIN
    sys_resources_pkg rela
    ON
    res.id = rela.resources_id
    </if>
    <where>
      <if test="userId != null and userId != '' " >
        rela.user_id = #{userId}
      </if>
      and res.pcode = #{code}
    </where>
    ORDER BY
    num
  </select>
</mapper>